.education {
  background: linear-gradient(white, rgb(173, 195, 217));
  width: 80vw;
  margin: 0 auto;
  min-height: 80vh;
  margin-bottom: 190px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.education .qoute {
  text-align: center;
  font-family: "poppins";
  font-weight: 600;
  margin-top: 0.5rem;
}

.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;

}

.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}

.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 120%;
}

.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}

.education .box-container .box .content h3 {
  font-size: 35px;
  color: #0c0d0e;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
}

.education .box-container .box .content p {
  font-size: 35px;
  text-align: left;
}

.education h4 {
  font-size: 40px;
  color: rgb(28, 57, 201);
  text-align: left;
  font-family: "poppins";
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }

  .education {
    background: none;
  }

  .education h2 {
    color: grey;
  }

  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }

  .education .box-container .box .content p {
    font-size: 30px;
  }

  .hero-section .text .links a {
    margin-right: 120px;
    transition: 1s;
    display: flex;
  }

  .education .box-container .box img {
    width: 100%;
    height: 100%;
  }

  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }

  .education .btns {
    margin-top: 2rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }

  .education .qoute {
    padding: 0 10px;
    color: grey;
  }
}

@media screen and (max-width: 768px) {
  .education {
    width: 85vw;
    margin-bottom: 50px;
  }
  .education .box-container .box .content {
    /* flex: 1 1 33rem; */
    height: auto;
  }
  .education .box-container .box .content h3 {
    font-size: 25px;
    font-weight: 700;
  }
  .education .box-container .box .content p {
    font-size: 20px;
  }
  .education h4 {
    font-size: 32px;
  }
}

@media (max-width: 850px) {
  .education .box-container .box {
    width: 90%;
  }
}